body, html
  line-height: 1
  font-weight: 200
  font-family: Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &:after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &:after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-active
  opacity: 0

$color-silver = #f3f5f7
$color-font1 = rgb(147, 153, 159)
$color-font2 = rgb(7, 17, 27)
$color-line = rgba(7, 17, 27, 0.1)
$color-red = rgb(240, 20, 20)
$footer-height = 48px